
@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!------------------------   CSS    ------------------------------->
	<link rel="stylesheet" href="~/css/Login.css">

	<!--------------------------BOXİCONS---------------------------->
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<title>Document</title>
</head>
<body>
	<div class="l-form">
		<div class="round1"></div>
		<div class="round2"></div>
		<div class="form">
			<img src="~/img/undraw_mobile_login_ikmv.svg" class="form_img">

			<form action="" class="form-content">
				<h1 class="form-tittle">İşçi Takip Sistemi</h1>
				<div class="form_div form_div_one">
					<div class="form-icon">
						<i class='bx bxs-user-circle' style='color:rgba(42,172,179,0.99)'></i>
					</div>

					<div class="form_div_input">
						<label for="" class="label_form">Kullanıcı Adı</label>
						<input type="text" class="form_input">
					</div>
				</div>



				<div class="form_div form_div_two">
					<div class="form-icon">
						<i class='bx bxs-lock' style='color:rgba(42,172,179,0.99)'></i>
					</div>

					<div class="form_div_input">
						<label for="" class="label_form">Parola</label>
						<input type="password" class="form_input">
					</div>
				</div>
				<input type="submit" class="form-button" value="Giriş Yap">
			</form>
		</div>
	</div>
</body>
</html>

