
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/AdminPaneli/Views/Shared/Admin.cshtml";
}

<div class="table-wrapper">
	<div class="table-title">
		<div class="row">
			<div class="col-sm-12 ">

				<h4 style="padding:1rem;color:white; font-size: 1.5rem; float: left;">Aile Bilgileri</h4>

			</div>

		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>

					<th scope="col">Aile No</th>
					<th scope="col">Aile Adı</th>
					<th scope="col">Aile Grup</th>
					<th scope="col">Düzenle</th>
					<th scope="col">Sil</th>


				</tr>
			</thead>
			<tbody>
				@*@foreach (var i in Model)
					{*@


				<tr>

					<td>1</td>
					<td>Güneş Ailesi</td>
					<td>1.Grup</td>
					<td><a href=""><i class='bx bxs-pencil' style='color:rgba(15,223,88,0.92); font-size:1.7rem'></i></a></td>
					<td><a href=""><i class='bx bx-x' style='color:#ef0404; font-size:1.9rem'></i></a></td>



				</tr>
				@*}*@
			</tbody>
		</table>
	</div>
</div>




